/* zeros out the padding and margin of the entire document */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

/* makes the pages background color grey */
body {
    background-color: #d9dcd6;
}

/* makes all anchor elements have white font */
a {
    color: #ffffff;
    text-decoration: none;
}

/* makes the text of all p elements 16px */
p {
    font-size: 16px;
}

/* sets the padding, font, font color, and background color of the header element */
header {
    padding: 20px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    background-color: #2a607c;
    color: #ffffff;
}

/* sets h1 font size to 48px */
header h1 {
    display: inline-block;
    font-size: 48px;
}
/* changes the color of SEO to grey */
header h1 .seo {
    color: #d9dcd6;
}

/* sets the characteristics of the nav bar */
header nav {
    padding-top: 15px;
    margin-right: 20px;
    float: right;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 20px;
}

/* removes the bullets from the listed items */
header nav ul {
    list-style-type: none;
}

/* sets the list items to display inline */
header nav ul li {
    display: inline-block;
    margin-left: 25px;
}

/* sets the characteristics of the main image element */
.hero {
    height: 800px;
    width: 100%;
    margin-bottom: 25px;
    background-size: cover;
    background-position: center;
}

/* sets width and margin of main element */
main {
    width: 75%;
    display: inline-block;
    margin-left: 20px;
}

/* styles the main section */
main section {
    margin-bottom: 20px;
    padding: 50px;
    height: 300px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #0072bb;
    color: #ffffff;
}

/* sets the height of the images in the main element */
main img {
    max-height: 200px;
}

/*float the image in the main element to the left*/
.float-left {
    float: left;
    margin-right: 25px;
}

/*floats the image in the main element to the right*/
.float-right {
    float: right;
    margin-left: 25px;
}

/* sets the font size and bottom margin of the h2 elements of the main element */
main h2 {
    margin-bottom: 20px;
    font-size: 36px;
}

/* styles the aside element and floats it to the right */
aside {
    margin-right: 20px;
    padding: 20px;
    clear: both;
    float: right;
    width: 20%;
    height: 100%;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: #2589bd;
}

/* styles the section element that ar children to the aside element */
aside section {
    margin-bottom: 32px;
    color: #ffffff;
}

/* styles the h3 elements of the aside element */
aside h3 {
    margin-bottom: 10px;
    text-align: center;
}

/* styles the images in the aside element */
aside img {
    display: block;
    margin: 10px auto;
    max-width: 150px;
}

/* styles the footer element and clears it below the main and aside elements */
footer {
    padding: 30px;
    clear: both;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-align: center;
}

/* sets the font size of the footers h2 text */
footer h2 {
    font-size: 20px;
}
